<div class="form-group row">
    <div class="col-xs-6">
    <label for="facebook">Facebook</label>
    <input type="text" class="form-control" name="facebook" ng-model="formData.facebook">
</div>

    <div class="col-xs-6">
    <label for="twitter">Twitter</label>
    <input type="text" class="form-control" name="twitter" ng-model="formData.twitter">
</div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
    <label for="instagram">Instagram</label>
    <input type="text" class="form-control" name="instagram" ng-model="formData.instagram">
</div>

    <div class="col-xs-6">
    <label for="youtube">Youtube</label>
    <input type="text" class="form-control" name="youtube" ng-model="formData.youtube">
</div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
    <label for="twitch">Twitch</label>
    <input type="text" class="form-control" name="twitch" ng-model="formData.twitch">
</div>

    <div class="col-xs-6">
    <label for="snapchat">Snapchat</label>
    <input type="text" class="form-control" name="snapchat" ng-model="formData.snapchat">
</div>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-danger">Submit</button>
</div>