<div class="form-group">
<label for="sport">Sport (Use Ctrl to select multiple options)</label>
<select class="custom-dropdown form-control" name="sport" ng-model="formData.sport" multiple="">
<option value="Golf">Golf</option>
<option value="Tennis">Tennis</option>
<option value="Cricket">Cricket</option>
<option value="Basketball">Basketball</option>
<option value="Baseball">Baseball</option>
<option value="American Football">American Football</option>
<option value="Aquatics">Aquatics</option>
<option value="Archery">Archery</option>
<option value="Automobile Racing">Automobile Racing</option>
<option value="Badminton">Badminton</option>
<option value="Beach Volleyball">Beach Volleyball</option>
<option value="Bobsleigh">Bobsleigh</option>
<option value="Body Building">Body Building</option>
<option value="Boxing">Boxing</option>
<option value="Cross Country Running">Cross Country Running</option>
<option value="Cross Country Skiing">Cross Country Skiing</option>
<option value="Curling">Curling</option>
<option value="Cycling">Cycling</option>
<option value="Darts">Darts</option>
<option value="Decathlon">Decathlon</option>
<option value="Down Hill Skiing">Down Hill Skiing</option>
<option value="Equestrianism">Equestrianism</option>
<option value="eSports">eSports</option>
<option value="Fencing">Fencing</option>
<option value="Field Hockey">Field Hockey</option>
<option value="Figure Skating">Figure Skating</option>
<option value="Gymnastics">Gymnastics</option>
<option value="Ice Hockey">Ice Hockey</option>
<option value="Martial Arts">Martial Arts</option>
<option value="Mixed Martial Arts">Mixed Martial Arts</option>
<option value="Modern Pentathlon">Modern Pentathlon</option>
<option value="Motorcycle Racing">Motorcycle Racing</option>
<option value="Netball">Netball</option>
<option value="Polo">Polo</option>
<option value="Racquetball">Racquetball</option>
<option value="Rowing">Rowing</option>
<option value="Rugby">Rugby</option>
<option value="Sailing">Sailing</option>
<option value="Softball">Softball</option>
<option value="Shooting">Shooting</option>
<option value="Skateboarding">Skateboarding</option>
<option value="Skeet Shooting">Skeet Shooting</option>
<option value="Skeleton">Skeleton</option>
<option value="Snow Boarding">Snow Boarding</option>
<option value="Soccer">Soccer (Football)</option>
<option value="Squash">Squash</option>
<option value="Surfing">Surfing</option>
<option value="Swimming">Swimming</option>
<option value="Track and Field">Track and Field</option>
</select>
<class="form-control" name="sport" ng-model="formData.sport">
</div>

<div class="form-group">
    <label for="ass">Association</label>
    <input type="text" class="form-control" name="ass" ng-model="formData.ass">

<div class="form-group">
    <label for="team">Team</label>
    <input type="text" class="form-control" name="team" ng-model="formData.team">
</div>

<div class="form-group">
    <label for="nationality">Nationality</label>
    <input type="text" class="form-control" name="nationality" ng-model="formData.nationality">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.profile3" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>